.wrapper {
  margin-top: 20px;
  color: white;
  gap: 10px;
  justify-content: center;
  border: 1px solid #333;
  padding: 20px;
}

.button {
  background: none;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.wrapper > div {
  padding: 20px;
  color: white;
  border-radius: 10px;
  border: 1px solid #333;
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

.yellow {
  background: yellow;
  color: #333;
}
